<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin panel</title>
    <link rel="stylesheet" href="../public/css/admin.css">
    <style>
         ::-webkit-scrollbar {
            width: 2px;
        }
        
         ::-webkit-scrollbar-track {
            background: #424141;
        }
        
         ::-webkit-scrollbar-thumb {
            background: rgb(90, 90, 90);
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }
    </style>
</head>

<body>
    </button>
    <a href="/" id="youTube" class="youTube">
        <img class="youTubeImg" src="../public/img/youtube.png" alt="youTube"> VideoApp
    </a>
    <h1 class="title">Video upload page</h1>
    <div class="wrapper">
        <form id="form">
            <div class="imageVrap">

            </div>
            <input type="text" class="videoNameInput" placeholder="Enter the video title..." name="videoTitle">
            <label class="upload">
               <p class="videoInputText">Upload your video...!</p>
              <input type="file"style="display:none"id="videoUpload" name="videoUpload" accept="video/*">
           </label>
            <button class="button" type="send" id="send">Add video</button>
        </form>
        <div class="rightPart">
            <h1>Your videos</h1>
            <div class="mainRightPart">
                <ul class="videosList">

                </ul>

            </div>
        </div>
    </div>
    <script src="../public/js/request.js"></script>
    <script src="../public/js/admin.js"></script>

</body>

</html>